################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Relatos-Papel/.vs/Relatos-Papel/CopilotIndices/17.14.1518.61961
/Relatos-Papel/.vs/Relatos-Papel/FileContentIndex
/Relatos-Papel/.vs/Relatos-Papel/v17
/Relatos-Papel/.vs
/.vs/Relatos-de-papel/CopilotIndices/17.14.1518.61961
/.vs/Relatos-de-papel/FileContentIndex
/.vs/Relatos-de-papel/v17
/.vs
