/* 1. Importar la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* 2. Importar Tailwind */
@import "tailwindcss";

/* 3. Configurar la fuente en el Tema */
@theme {
  /* Opción A: Cambiar la fuente por defecto de todo el sitio */
  --font-sans: "Poppins", sans-serif;

  /* Opción B: Crear una fuente extra personalizada (ej: font-display) */
  --font-display: "Poppins", sans-serif;
  --color-blue-brand: #0033A0;
}