
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


@import "tailwindcss";


@theme {

  --font-sans: "Poppins", sans-serif;


  --font-display: "Poppins", sans-serif;
  --color-blue-brand: #0033A0;
}